* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    color: orange;
    text-shadow: 0px 2px black;
}

button {
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 9px;
    padding: 7px;
    width: 7rem;
    font-size: 15px;
}

#stage {
    font-size: 6rem;
}