* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #06b2fc;
    margin: 0;
}

.content{
    width: 450px;
    height: 250px;    
    text-align: center;
    background-color: #02023f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    /* padding-top: 3rem; */
}

.left, .right {
    line-height: 1.5;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    background: black;
    color: red;
    padding: 10px 25px;
    border-radius: 7px;
    width: 5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.btns {
    margin-left: 0.2rem;
}

#btn {
    background-color: #02023f;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 9px;
    padding: 7px;
}

#new {
    background-color: #02023f;
    width: 4rem;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    font-size: 9px;
    margin-left: 12rem;
    padding: 7px;
}