* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f4f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 30px 25px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

svg {
  width: 40px;
  height: 40px;
  color: #6c63ff;
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

#text {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

#input:focus {
  border-color: #6c63ff;
}

#btn {
  padding: 10px 15px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#btn:hover {
  background: #574fd6;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  color: red;
  cursor: pointer;
  font-size: 14px;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}