* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

#apple-shelf {
    width: 15rem;
    height: 3rem;
    background-color: lightcoral;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding-top: 2px;
    font-size: 2rem;
}

#orange-shelf {
    width: 15rem;
    height: 3rem;
    background-color: #ea9c0d;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding-top: 2px;
    font-size: 2rem;
}
