* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 27rem;
    margin-top: 5rem;
}

.container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: block;
    padding-top: 70px;
}

