* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    width: 450px;
    height: 490px;    
    border-radius: 10px;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.first-column {
    width: auto;
    height: 40%;
    background-color: #6f0ecf;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    letter-spacing: 2px;
}

input {
    margin-top: 50px;
    margin-bottom: 5px;
    border: 1px solid #ffffff;
    background: #6f0ecf;
    width: 65px;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

#btn {
    width: 65px;
    height: 25px;
}

.second-column {
    width: auto;
    height: 60%;
    padding: 10px;
    background: #f1eef3;
}

#box1, #box2, #box3 {
    background: white;
    width: 97%;
    height: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: black;
    margin: 10px;
}

p {
    padding-top: 10px;
}